@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Hand+Pre:wght@400..700&display=swap');

/*** Variables ***/
:root {
    --aside-background-color: #4a4a4a;
    --background-color-hover: #949494;
    --main-background-color: #252525;
    --font-color: #ffffff;
  }

/*** RESET ***/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*** Global styles ***/

html {
    font-family: "Edu NSW ACT Hand Pre", cursive;
}

body {
    display: flex;
}

a {
    text-decoration: none;
}

hr {
    width: 100%;
    margin: 5px;
}

aside {
    background-color: var(--aside-background-color);
    color: var(--font-color);
    border: 1px solid #949494;
    padding: 5px;
    width: 250px;
    height: 961px;
    float: left;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
aside a {
    color: var(--font-color);
}

li {
    margin: 10px;
    list-style: none;
}
li:hover {
    background-color: var(--background-color-hover);
    border-radius: 5px;
    cursor: pointer;
}

main {
    background-color: var(--main-background-color);
    width: 87%;
    height: 961px;
    margin: 0;
    border: 1px solid #949494;
}
/*** CLASS ***/

.aside-header {
    display: flex;
    justify-content: center;
}
.aside-header h1 {
    margin-left: 15px;
    margin-right: 15px;
}
.aside__icon {
    padding: 5px;
}
.aside__icon:hover {
    background-color: var(--background-color-hover);
    border-radius: 10px;
    cursor: pointer;
}

.explorer-header{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.explorer-header input {
    padding: 12px;
    width: 30%;
    border: 1px solid #949494;
    border-radius: 5px;
}
.explorer-header__icon {
    padding: 5px;
    margin-left: 10px;
    color: var(--font-color);
}
.explorer-header__icon:hover {
    background-color: var(--background-color-hover);
    border-radius: 5px;
    cursor: pointer;
}

.folder {
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    display: grid;
    padding: 10px;
    margin: 3px;
    gap: 20px;
}
.folder:hover {
    background-color: var(--background-color-hover);
    border-radius: 10px;
    cursor: pointer;
}
.folder img {
    height: 50px;
}
.folder h4{
    color: white;
    margin-left: -120px;
    padding-top: 16px;
}
.folder p{
    color: white;
    padding-top: 16px;
}
.recent__icon{
    color: white;
    padding-top: 14px;
    margin-left: 150px;
}
